<div class="col-sm-12">
    <div class="wrap-input100 validate-input m-b-26" style="font-size: 10px">
        <div class="input--style-1 text-danger" id="id_{{ field.name }}">I hereby declare that all the particulars
            furnished in the application are true, correct and complete to the best of my knowledge and belief.
            In the event of any information being found false or incorrect in the future verification,my applicable is
            liable to be cancelled by the University.<br>
            On clicking the button, you agree with the terms and conditions.
        </div>
    </div>
</div>